# .env.example

# MongoDB URI
MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database>

# Email Credentials
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USERNAME=<your_email@example.com>
EMAIL_PASSWORD=<your_email_password>

# API Configuration
API_KEY=<your_api_key>
API_SECRET=<your_api_secret>
